# 🐍 Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# 🧪 Testing
.coverage
*.cover
coverage.xml
htmlcov/
.cache/
.pytest_cache/

# 🔐 Environment variables
.env

# 📦 Package/venv
.ajanyu/

*.log

# 🧠 IDE/editor settings
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# 📚 Jupyter
.ipynb_checkpoints/

# ⚙️ OS
Thumbs.db

